<ul class="nav  nav-tabs">
  <li class="nav-item">
    <a routerLink="/home" class="nav-link active" routerLinkActive="active" >Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/registeration" class="nav-link" routerLinkActive="active" >Register</a>
  </li>
  <li class="nav-item">
    <a  routerLink="/admin" class="nav-link" routerLinkActive="active">Users</a>
  </li>
    <li class="nav-item">
        <a routerLink="/course" class="nav-link" routerLinkActive="active" >Course</a>
    </li>
  <li class="nav-item">
    <a class="nav-link">{{username}}</a>
  </li>
  <li class="nav-item navbar-toggler-right">
    <a (click)="logout()" class="nav-link" routerLinkActive="active">{{loginOrLogout}}</a>
  </li>
</ul>
