<div class="card-header row">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a routerLink="/home" class="nav-link" routerLinkActive="active" >Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/registeration" class="nav-link" routerLinkActive="active" >Register</a>
  </li>
  <li class="nav-item">
    <a  routerLink="/admin" class="nav-link" routerLinkActive="active">Users</a>
  </li>
    <li class="nav-item">
        <a routerLink="/course" class="nav-link" routerLinkActive="active" >Course</a>
    </li>
</ul>
  <ul class="nav nav-pills navbar-toggler-right">
  <li class="nav-item">
    <a class="nav-link">{{username}}</a>
  </li>
  <li class="nav-item">
    <a (click)="logout()" class="nav-link" routerLinkActive="active">{{loginOrLogout}}</a>
  </li>
  </ul>
</div>
