<nav class="navbar align-items-center">
  <form (ngSubmit)="createNewCourse()" class="form-inline"  #heroForm="ngForm">
    <input class="form-control" name="course" minlength="5"
           [(ngModel)]="newCourse"
           placeholder="New Course Title" aria-label="Search">
    <button class="btn -circle btn-danger fa fa-1.5x fa-plus" type="submit"></button>
  </form>
</nav>
<table class="container table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Owned by</th>
    <th scope="col">Last modified</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses">
    <td>{{course.title}}</td>
    <td></td>
    <td>{{course.modified|date}}</td>
    <td><i class="fa fa-2x fa-close" (click)="deleteCourse(course.id)"></i></td>
  </tr>
  </tbody>
</table>


