<nav class="navbar navbar-light bg-light align-items-center">
  <form class="form-inline">
    <input class="form-control col-8" type="search" placeholder="New Course Title" aria-label="Search">
    <button class="btn -circle btn-danger fa fa-1.5x fa-plus" type="submit"></button>
  </form>
</nav>
<table class="container table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Owned by</th>
    <th scope="col">Last modified</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  </tbody>
</table>


