<ul class="nav  nav-tabs align-items-center">
  <li class="nav-item">
    <span *ngIf="course" class="nav-link" >{{course.title}}</span>
  </li>
  <li class="nav-item">
    <i class="nav-link active" >Pages</i>
  </li>
</ul>
<div class="row">
  <div *ngIf="course" class="col-4"><app-module-list [myModules]="course.modules"
                                      (deleteModule)="deleteModule($event)"
                                      (newModule)="createModule($event)"
                                      (selectedModule)="selectModule($event)">

  </app-module-list>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>

